html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	overflow:hidden;
}

body
{
    
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

}

.flexbox-parent
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;        
    background: rgba(255, 255, 255, .1);
}

.flexbox-item-grow
{
    flex: 1;
	min-height:0;
}

header
{
    background-color:#ccc;
	padding: 4px 6px;
	height:24px;
	font-size:11px;
	color:#000;
}
footer
{
    background-color:#007ACC;
	padding: 2px;
	color:#fff;
	height:22px;
	font-size:12px;
}
footer .fa {
	font-size:14px;
}

footer > div {
	padding:1px 8px;
}

footer ul {
	padding:0px;
	margin:0px;
	list-style-type: none;
	display:flex;
}

footer ul li {
	flex:1;
	min-width:32px;
	padding-right:8px;
}

footer .app-git ul li:first-child {
	flex:3;
}

footer .app-encoding {
	width:200px;
	text-align: right;
}

footer .app-encoding ul {
	justify-content: flex-end;
}

footer .app-encoding ul li{
	flex:1;
}

aside.sidebar {
	min-width:120px;
	padding:8px;
	background-color:#252526;
	color:#ADADAD;
}

.main {
	overflow:auto;
	height:auto;
	flex:4;
	padding:8px;
	background-color:#1E1E1E;
	color:#D4D4D4;
}

.toolbar {
	width:50px;
	padding:8px 2px;
	text-align: center;
	background-color:#333333;
	color:#ADADAD;
	font-size:2em;
}

.toolbar i:hover {
	color:#dcdcdc;
}

.fill-area
{
    display: flex;
}

