html, body {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}

.wrapper {
	position:absolute;
	height:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin-bottom:25px;
	padding-bottom:4px;
}

.wrapper .content {
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row nowrap;
	align-items: stretch;
	height:100%;
	
	overflow-y:scroll;
}

.sidebar {
	background-color:#dcdcdc;
	flex: 1;
	min-width:150px;
	overflow-y:auto;
}

.main {
	background-color:red;
	flex: 4 1 auto;
}

footer {
	position:fixed;
	left:0;
	color:#fff;
	font-size:12px;
	bottom:0;
	padding:2px;
	height:25px;
	width:100%;
	background-color:#007ACC;
}